@import './settings';

fieldset {
	padding: 0;
	margin: 0 0 1.5rem;
	border: none;
}

label,
legend {
	display: block;
	margin: 0 0 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
}

select,
input {
	transition: 300ms all;
}

textarea,
select,
input {
	box-shadow: none;
	border: 1px solid $line;
	margin: 0;
	display: block;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
	outline: none;
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select {
	-webkit-appearance: none;
	border-radius: 0;
	background: #FFF;
	padding: 0.8rem;
	width: 100%;
}

textarea:focus,
select:focus,
input:focus {
	border-color: darken( $line, 15% );
}

textarea {
	-webkit-appearance: none;
	min-height: 7.5rem;
	box-shadow: none;
	min-width: 100%;
	max-width: 100%;
	outline: none;
}

select {
	cursor: pointer;
	background-image: url( 'data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjggMS41MWw0Ljk3NCA0Ljk3NSA0Ljk0OC00Ljk1IiBzdHJva2U9IiM3MDcwNzAiIHN0cm9rZS13aWR0aD0iMiIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+' );
	background-repeat: no-repeat;
	background-position: right 1.25rem center;
	padding-right: 2.5rem;
	appearance: none;
}

::-webkit-search-decoration {
	display:none;
}

input[type="checkbox"],
input[type="radio"] {
	box-shadow: none;
	border-color: #999;
	margin: 0 5px 0 0;
	width: auto;
	display: inline-block;
	position: relative;
	top: -2px;
}

input[type="checkbox"] {
	border-radius: 0;
}
