*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #F56969;
  margin: 0;
  color: #FFF;
  font: 16px /1.4 'Avenir';
}

:root {
  --blob_one: url('../images/blob_1.svg');
  --blob_two: url('../images/blob_2.svg');
  --blob_three: url('../images/blob_3.svg');
  --blob_four: url('../images/blob_4.svg');
  --blob_five: url('../images/blob_5.svg');
  --blob_six: url('../images/blob_6.svg');
}

.layout {
  transition: 500ms 150ms background-color;
  background-color: #F56969;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.layout--fixtures,
.layout--fixtures-id {
  background-color: #9EC9D9;
}

.layout--groups,
.layout--groups-id,
.layout--teams,
.layout--teams-id {
  background-color: #786fa6;
}

.layout--groups {
  background-image: var(--blob_three), var(--blob_four), var(--blob_two), var(--blob_one);
  background-position: 95% 5%, 10% 90%, 80% 60%, -5% 30%;
}

.layout--groups-id {
  background-image: var(--blob_one), var(--blob_two);
  background-position: 90% 10%, 10% 90%;
}

.layout--fixtures {
  background-image: var(--blob_five), var(--blob_six), var(--blob_three), var(--blob_four), var(--blob_one), var(--blob_two);
  background-position: 95% 5%, 10% 90%, 80% 40%, -5% 20%, 20% 50%, -5% 70%;
}

.layout--fixtures-id {
  background-image: var(--blob_six), var(--blob_three);
  background-position: 90% 10%, 10% 90%;
}

.layout--table {
  background-color: #778beb;
  background-image: var(--blob_two), var(--blob_five);
  background-position: 90% 10%, 10% 90%;
}

.layout--challenges {
  background-image: var(--blob_four), var(--blob_three);
  background-position: 90% 10%, 10% 90%;
}

.layout--index {
  background-image: var(--blob_four), var(--blob_three);
  background-position: 90% 10%, 40% 80%;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 30px;
}

h2 {
  font-size: 1.125em;
  margin: 0 0 20px;
}

h3, h4, h5 {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background: #FFF;
  border: 2px solid #F56969;
  color: #F56969;
  font-size: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  padding: 0.9em 1.1em 0.8em 1.6em;
  border-radius: 2em;
  font-weight: 700;
  transition: 300ms color, 300ms background;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background: #F56969;
  color: #FFF;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@import './assets/scss/forms';
@import './assets/scss/tables';


.page {
  padding-top: 50px;

  &-header {
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      letter-spacing: 0.1em;
    }

    h1 + h2 {
      margin-top: -20px;
      margin-bottom: 40px;
    }
  }

  &-wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;

    &--padded {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 690px;
    }
  }
}

.fixture-date {
  background: #FFF;
  margin: 0 0 40px;
  color: #43555C;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}


.lines {
    display: grid;
    grid-template-columns: minmax(20px, 50px) auto minmax(20px, 50px);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
    width: 100%;
    margin: 0;
}

.lines:before,
.lines:after {
    content: '';
    border-top: 1px solid;
}




.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.home__content .fixture time {
  display: none;
}
