@font-face{
    font-family:"Avenir LT";
    src:url("/fonts/1475520/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix");
    src:url("/fonts/1475520/57bf7902-79ee-4b31-a327-1bbf59a3d155.eot?#iefix") format("eot"),url("/fonts/1475520/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),url("/fonts/1475520/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff"),url("/fonts/1475520/9bdf0737-f98c-477a-9365-ffc41b9d1285.ttf") format("truetype");
    font-weight: 400;
}

@font-face{
	font-family:"Avenir LT";
	src:url("/fonts/1475544/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
	src:url("/fonts/1475544/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("/fonts/1475544/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("/fonts/1475544/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("/fonts/1475544/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype");
	font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #F56969;
  margin: 0;
  color: #FFF;
  // -moz-osx-font-smoothing: grayscale;
	//  -webkit-font-smoothing: antialiased;
	font: 400 16px/1.4 'Avenir LT', 'Avenir', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

:root {
  --blob_one: url('../images/blob_1.svg');
  --blob_two: url('../images/blob_2.svg');
  --blob_three: url('../images/blob_3.svg');
  --blob_four: url('../images/blob_4.svg');
  --blob_five: url('../images/blob_5.svg');
  --blob_six: url('../images/blob_6.svg');
}

.layout {
  transition: 500ms 150ms background-color;
  background-color: #F56969;
  min-height: 100vh;
  background-repeat: no-repeat;

  @media (max-width: 45em) {
    background-size: 50%;
  }
}

.layout--fixtures,
.layout--fixtures-id {
  background-color: #9EC9D9;
}

.layout--groups,
.layout--groups-id,
.layout--teams,
.layout--teams-id {
  background-color: #786fa6;
}

.layout--groups {
  background-image: var(--blob_three), var(--blob_four), var(--blob_two), var(--blob_one);
  background-position: 95% 5%, 10% 90%, 80% 60%, -5% 30%;
}

.layout--groups-id {
  background-image: var(--blob_one), var(--blob_two);
  background-position: 90% 10%, 10% 90%;
}

.layout--teams-id {
  background-image: var(--blob_two), var(--blob_one);
  background-position: 90% 10%, 10% 90%;
}

.layout--fixtures {
  background-image: var(--blob_five), var(--blob_six), var(--blob_three), var(--blob_four), var(--blob_one), var(--blob_two);
  background-position: 95% 5%, 10% 90%, 80% 40%, -5% 20%, 20% 50%, -5% 70%;
}

.layout--fixtures-id {
  background-image: var(--blob_six), var(--blob_three);
  background-position: 90% 10%, 10% 90%;
}

.layout--table {
  background-color: #778beb;
  background-image: var(--blob_two), var(--blob_five);
  background-position: 90% 10%, 10% 90%;
}

.layout--challenges {
  background-image: var(--blob_four), var(--blob_three);
  background-position: 90% 10%, 10% 90%;
}

.layout--index {
  background-image: var(--blob_four), var(--blob_three);
  background-position: 90% 10%, 40% 80%;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 30px;
}

h2 {
  font-size: 1.125em;
  margin: 0 0 20px;
}

h3, h4, h5 {
  margin: 0 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background: #FFF;
  border: 2px solid #F56969;
  color: #F56969;
  font-size: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  padding: 0.9em 1.1em 0.8em 1.6em;
  border-radius: 2em;
  font-weight: 700;
  transition: 300ms color, 300ms background;
  text-align: center;
  cursor: pointer;
}

.center {
  text-align: center;
}

.button:hover {
  background: #F56969;
  color: #FFF;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@import './assets/scss/forms';
@import './assets/scss/tables';


.page {
  padding-top: 50px;

  &-header {
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      letter-spacing: 0.1em;
    }

    h1 + h2 {
      margin-top: -20px;
      margin-bottom: 40px;
    }
  }

  &-wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;

    &--padded {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 690px;
    }
  }
}

.fixture-date {
  background: #FFF;
  margin: 0 0 40px;
  color: #43555C;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}


.lines {
    display: grid;
    grid-template-columns: minmax(20px, 50px) auto minmax(20px, 50px);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 10px;
    width: 100%;
    margin: 0;
}

.lines:before,
.lines:after {
    content: '';
    border-top: 1px solid;
}




.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.home__content .fixture time {
  display: none;
}
